<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>테스트</title>
</head>
<body>
    <div id="content">
        <h1>산딸기</h1>
        <h2>즐겨찾기</h2>
        <div class="flex-container">
            <div class="item" id="bookmark-on-all">
                <p>전부 켜기</p>
            </div>
            <div class="item" id="bookmark-off-all">
                <p>외출</p>
            </div>
            <div class="item" id="bookmark-led-on-all" onclick="led(5);">
                <p>led 전부 켜기</p>
            </div>
            <div class="item" id="bookmark-led-off-all" onclick="led(0);">
                <p>led 전부 끄기</p>
            </div>
        </div>
        <h2>제어</h2>
        <div class="flex-container">
            <div class="item" id="btn-temp">
                <p class="item-title">온도</p>
                <span class="item-info" id="temp">{{data.temp}}</span>
            </div>
            <div class="item" id="btn-led" onclick="led(1);">
                <p class="item-title">LED 1</p>
                <span class="item-info" id="temp">{{data.led[0]}}</span>
            </div>
            <div class="item" id="btn-led" onclick="led(2);">
                <p class="item-title">LED 2</p>
                <span class="item-info" id="temp">{{data.led[1]}}</span>
            </div>
            <div class="item" id="btn-led" onclick="led(3);">
                <p class="item-title">LED 3</p>
                <span class="item-info" id="temp">{{data.led[2]}}</span>
            </div>
            <div class="item" id="btn-led" onclick="led(4);">
                <p class="item-title">LED 4</p>
                <span class="item-info" id="temp">{{data.led[3]}}</span>
            </div>
            <div class="item" id="btn-fan">
                <p class="item-title">FAN 제어</p>
                <span class="item-info" id="fan">{{data.fan}}</span>
            </div>
        </div>
    </div>
</body>
</html>