<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <title>테스트</title>
</head>
<body>
    <div id="content">
        <h1>산딸기</h1>
        <h2>즐겨찾기</h2>
        <div class="flex-container">
            <div class="item bookmark-item" id="bookmark-off-all" onclick="fieldlessPost('outing');">
                <span>외출</span>
            </div>
            <div class="item bookmark-item" id="bookmark-led-on-all" onclick="led(5);">
                <span>led 전부 켜기</span>
            </div>
            <div class="item bookmark-item" id="bookmark-led-off-all" onclick="led(0);">
                <span>led 전부 끄기</span>
            </div>
        </div>
        <h2>제어</h2>
        <div class="flex-container">
            <div class="item" id="btn-temp" onclick="fieldlessPost('outing');">
                <p class="item-title">온도</p>
                <span class="item-info" id="temp"><i class="fas fa-thermometer-half"></i> {{data.temp}}°C</span>
            </div>
            <div class="item" id="btn-led" onclick="led(1);">
                <p class="item-title">LED 1</p>
                <span class="item-info" id="temp"><i class="far fa-lightbulb"></i> {{data.led[0]}}</span>
            </div>
            <div class="item" id="btn-led" onclick="led(2);">
                <p class="item-title">LED 2</p>
                <span class="item-info" id="temp"><i class="far fa-lightbulb"></i> {{data.led[1]}}</span>
            </div>
            <div class="item" id="btn-led" onclick="led(3);">
                <p class="item-title">LED 3</p>
                <span class="item-info" id="temp"><i class="far fa-lightbulb"></i> {{data.led[2]}}</span>
            </div>
            <div class="item" id="btn-led" onclick="led(4);">
                <p class="item-title">LED 4</p>
                <span class="item-info" id="temp"><i class="far fa-lightbulb"></i> {{data.led[3]}}</span>
            </div>
            <div class="item" id="btn-fan" onclick="fieldlessPost('fan');">
                <p class="item-title">FAN</p>
                <span class="item-info" id="fan"><i class="fas fa-fan"></i> {{data.fan}}</span>
            </div>
        </div>
    </div>
</body>
</html>